*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(46, 45, 45);
}

.header{
    padding: 5px;
}

.main-title{
    text-align: center;
    margin-top: 30px;
    color: green;
    text-shadow: 3px 2px white;
    font-size: 60px;
}

.header p{
    text-align: center;
    margin: 30px;
    color: white;
    font-size: 20px;
}